@model List<Modelo.Livro>

@{
    ViewData["Title"] = "ExemploAulaComponentes";
}

<h1>ExemploAulaComponentes</h1>


<h2>
    @{
        var content = 2 + 2;
        content.ToString();
    }

    @content

    @@ Aqui eu tenho um arroba @@

    &reg;
    &#64;

    @Html.Raw("<h3 style='background-color:yellow'> adasd </h3>")

    @(2 + 2)


    @Servico.Somar(1,2);

    @if (2 == 2)
    {

    }


    @Html.ActionLink("Home", "Index")
</h2>

    <hr />
    <table>
        <tr>
            @foreach (var livro in Model)
            {
                <td width="20%">
                    @Html.Partial("../PartialViews/_DetalhesLivro", livro);
                </td>
            }
        </tr>
    </table>



    <a asp-action="Index">Volta pro índice</a>


